My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "edc40ed9-ac2d-47be-a06d-95328513ff8c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.msrc.microsoft.com/sug/v2.0/en-US/vulnerability",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "6d130eff-c78c-400f-9155-e13d47ee39cb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2cf8ad42-2999-47e4-a005-90747c35107c",
              "name": "Title",
              "value": "",
              "type": "string"
            },
            {
              "id": "4ba60927-5a7c-4167-9c03-7f65c8005110",
              "name": "value[0].cveNumber",
              "value": "={{ $json.value[0].cveNumber }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "a028e7ed-22b1-4e44-8840-9b63439b06d0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c7b4d646-97ef-41e1-b93f-d2abd1563d11",
              "leftValue": "={{ $json.Title }}",
              "rightValue": "={{ $runIndex > 0 ? $items($runIndex - 1)[0].json.Title : \"\" }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "3e012a29-63dc-48df-b2c2-9dd342131020",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "XXXXXXX",
        "text": "={{ $('HTTP Request').item.json.value[0].cveNumber }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        -96
      ],
      "id": "02a2452b-cf84-412e-9a1f-6cef3e30ae7d",
      "name": "Send a text message",
      "webhookId": "940e6d83-18aa-4153-81f7-2dae2d501bf3",
      "credentials": {
        "telegramApi": {
          "id": "j3Gd3UmUXKSjP7TA",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "ca7fc177-2451-466b-ba8f-09117d44cd0c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f6b8ee56f9d9a80dbf90717f7eafa2ba926d518ec6423c0a7ebfa99d1538837"
  },
  "nodeGroups": [],
  "id": "jZKEyPjMSDvvBK6v",
  "tags": []
}
